<!DOCTYPE html>
<html>
<head>
  <title>Barbecues</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', defer: true %>
  <%= csrf_meta_tags %>
</head>
<body data-hook="controller-<%= controller_name %> action-<%= action_name %>">

  <div class="container">
    <div id="top_bar">
      <% if user_signed_in? %>
        <span><%= current_user.email %></span>
        <span><%= link_to 'Sign out', destroy_user_session_path, method: 'DELETE' %></span>
      <% else %>
        <span>
          <%= link_to 'Sign_up', new_user_registration_path %> |
          <%= link_to 'Sign_in', new_user_session_path %>
        </span>
      <% end %>
    </div>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-info" %>
    <% end %>
    <%= yield %>
  </div>

</body>
</html>
